.casing{
    border:1px solid #e5e5e5;
    background-color: #e5e5e5;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-evenly;
}

*{
    background-color: #14213d;
}